In [6]:
#dependencies
import pandas as pd

CHR_data = "Resources/CHR_Data.csv"

In [7]:
#create data frame
#https://thispointer.com/pandas-skip-rows-while-reading-csv-file-to-a-dataframe-using-read_csv-in-python/
CHR_df = pd.read_csv(CHR_data, skiprows = 1)
CHR_df.head()

,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Quartile,YPLL Rate (AIAN),YPLL Rate (AIAN) 95% CI - Low,...,% Drive Alone (Hispanic) 95% CI - Low,% Drive Alone (Hispanic) 95% CI - High,% Drive Alone (White),% Drive Alone (White) 95% CI - Low,% Drive Alone (White) 95% CI - High,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.18,95% CI - High.18,Quartile.34
0,1000,Alabama,NaN,81791.0,9943.0,9841.0,10045.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2051445.0,34.0,34.0,35.0,NaN
1,1001,Alabama,Autauga,791.0,8129.0,7283.0,8974.0,1.0,NaN,NaN,...,NaN,NaN,84.0,80.0,89.0,24428.0,40.0,36.0,43.0,3.0
2,1003,Alabama,Baldwin,2967.0,7354.0,6919.0,7790.0,1.0,NaN,NaN,...,56.0,81.0,83.0,81.0,85.0,91420.0,42.0,39.0,44.0,3.0
3,1005,Alabama,Barbour,472.0,10254.0,8782.0,11725.0,2.0,NaN,NaN,...,NaN,NaN,87.0,85.0,90.0,8538.0,32.0,27.0,37.0,2.0
4,1007,Alabama,Bibb,471.0,11978.0,10344.0,13611.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7946.0,50.0,42.0,58.0,4.0

In [8]:
red_CHR_df = CHR_df.loc[:, ["FIPS", "State", "County",
                                    "Years of Potential Life Lost Rate", "% Fair or Poor Health", "Average Number of Physically Unhealthy Days", 
                                    "Average Number of Mentally Unhealthy Days", "% Adults with Obesity","Food Environment Index", "% With Access to Exercise Opportunities",
                                    "% Uninsured", "Primary Care Physicians Ratio","Preventable Hospitalization Rate","Population", "% Unemployed",
                                    "Income Ratio", "Social Association Rate"]]
red_CHR_df

,FIPS,State,County,Years of Potential Life Lost Rate,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Adults with Obesity,Food Environment Index,% With Access to Exercise Opportunities,% Uninsured,Primary Care Physicians Ratio,Preventable Hospitalization Rate,Population,% Unemployed,Income Ratio,Social Association Rate
0,1000,Alabama,NaN,9943.0,22,4.9,4.9,36,5.8,61.0,11.0,1543:01:00,5805.0,1232042,3.9,5.3,12.4
1,1001,Alabama,Autauga,8129.0,21,4.7,4.7,33,7.2,69.0,9.0,2220:01:00,7108.0,14438,3.6,5.2,12.1
2,1003,Alabama,Baldwin,7354.0,18,4.2,4.3,31,8.0,74.0,11.0,1372:01:00,4041.0,48703,3.6,4.4,10.2
3,1005,Alabama,Barbour,10254.0,30,5.4,5.2,42,5.6,53.0,12.0,3159:01:00,6209.0,6779,5.2,5.7,7.5
4,1007,Alabama,Bibb,11978.0,19,4.6,4.6,38,7.8,16.0,10.0,2061:01:00,5961.0,5970,4.0,4.4,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,7832.0,15,3.4,3.6,30,7.7,90.0,14.0,2721:01:00,2854.0,12573,4.2,4.0,10.3
3189,56039,Wyoming,Teton,2731.0,12,3.0,3.2,12,8.2,100.0,16.0,862:01:00,2130.0,7972,3.0,3.8,16.3
3190,56041,Wyoming,Uinta,7331.0,16,3.6,3.7,36,7.4,84.0,14.0,2277:01:00,3442.0,5152,4.4,4.4,2.9
3191,56043,Wyoming,Washakie,6586.0,16,3.6,3.7,29,8.3,83.0,17.0,2016:01:00,3979.0,1767,4.2,3.3,16.1
3192,56045,Wyoming,Weston,5389.0,14,3.5,3.7,33,7.9,63.0,13.0,2309:01:00,1359.0,1632,3.5,5.1,13.0