In [1]:
#dependencies
import requests
import json
import pandas as pd
import numpy as np

# Google developer API key
#from config import gkey
gkey = "AIzaSyAvuOCIVC1906HxDHTcVh8kpYL4QVPV2bQ"

In [3]:
county_geo = "../../Resources/StudyData.csv"
county_df = pd.read_csv(county_geo)
county_df.head()

,Unnamed: 0,FIPS,State,County,Years of Potential Life Lost Rate,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Adults with Obesity,Food Environment Index,...,Primary Care Physicians Ratio,Preventable Hospitalization Rate,Population,% Unemployed,Income Ratio,Social Association Rate,Code,zip,Lat,Lon
0,0,54059,West Virginia,Mingo,14564.0,28,6.3,6.1,37,7.1,...,4825:01:00,16802.0,5950,7.6,5.3,8.3,WV,24846.0,37.53,-81.85
1,1,21171,Kentucky,Monroe,12131.0,24,5.2,5.0,37,7.8,...,2132:01:00,15420.0,2458,4.1,5.8,9.4,KY,42133.0,36.72,-85.96
2,2,40057,Oklahoma,Harmon,14123.0,22,4.4,4.4,32,8.2,...,2689:01:00,14776.0,704,2.9,4.9,14.9,OK,73544.0,34.66,-99.77
3,3,54045,West Virginia,Logan,15459.0,26,5.8,5.8,42,7.5,...,2058:01:00,14383.0,8350,7.0,5.5,6.7,WV,25022.0,37.86,-81.83
4,4,21055,Kentucky,Crittenden,10623.0,22,5.0,5.0,31,8.1,...,2271:01:00,13912.0,2101,5.2,4.7,14.3,KY,42033.0,37.27,-88.08

In [5]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#meal_takeaway_df =[]
hospitals = []

#for index, row in county_df.iterrows():
    #lat = row["Lat"]
    #lng = row["Lon"]
    #coordinates = f'{lat}'
locations = county_df[["Lat","Lon"]]
target_type = "meal_takeaway"
radius = 5000
    
params = {"location":locations,
            "rankby": radius,
             "type": target_type,
               "key": gkey}

response = requests.get(base_url, params=params).json()
results = response['results']
print(response)
    #try:
        #meal_takeaway_df.append[index, "name"]=results[0]["name"]
    #except:

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [23]:
county_df["Restaurant Name"] = ""
county_df["Take Away Food"] = ""
meal_takeaway_df = county_df[["State", "County", "Code", "Lat" , "Lon"]]

In [27]:

params = {
    "radius": 10000,
    "types": "meal_takeaway",
    "key": gkey
}
# Use the lat/lng we recovered to identify hotels
for index, row in meal_takeaway_df.iterrows():
    
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lon"]
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and print url
    name_address = requests.get(base_url, params=params)
    # convert to json
    name_address = name_address.json()
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        meal_takeaway_df.loc[index, "Take Away Food"] = name_address["results"][0]["name"]
        #county_df.loc[index, "Hotel Address"] = name_address["results"][0]["vicinity"]
        print(f"Closest Fast Food is {name_address['results'][0]['name']}.")
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
meal_takeaway_df.head()

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

/Users/brittanyouellette/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/brittanyouellette/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest Fast Food is Subway.
Closest Fast Food is Subway.
Missing field/result... skipping.
Closest Fast Food is Subway.
Closest Fast Food is Subway.
Missing field/result... skipping.
Closest Fast Food is Subway.
Missing field/result... skipping.
Missing field/result... skipping.
Closest Fast Food is Subway.
Missing field/result... skipping.
Closest Fast Food is Subway.
Missing field/result... skipping.
Closest Fast Food is Subway.
Missing field/result... skipping.
Closest Fast Food is Subway.
Closest Fast Food is Subway.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Closest Fast Food is Papa Murphy's | Take 'N' Bake Pizza.
Closest Fast Food is Beau Jo's Idaho Springs.
Closest Fast Food is Riverside Pizza.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Closest Fast Food is BluTaco.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Closest Fast Food is Subway.
Closest Fast Food is Subway.
Closest Fast Food is Moose Drop Inn.
Closest Fast Food is Subway.
Missing field/result... skipping.

,State,County,Code,Lat,Lon,Restaurant Name,Take Away Food
0,West Virginia,Mingo,WV,37.53,-81.85,Justonian Restaurant,NaN
1,Kentucky,Monroe,KY,36.72,-85.96,Nannie Jo's Restaurant,NaN
2,Oklahoma,Harmon,OK,34.66,-99.77,NaN,NaN
3,West Virginia,Logan,WV,37.86,-81.83,Subway,Subway
4,Kentucky,Crittenden,KY,37.27,-88.08,Subway,Subway

In [28]:
#meal_takeaway_df.loc[meal_takeaway_df["Restaurant Name"]!= "NaN"]
#no_hotel = meal_takeaway_df[meal_takeaway_df["Restaurant Name"] == " NaN"].index
no_restaurant=meal_takeaway_df.dropna()
no_restaurant

,State,County,Code,Lat,Lon,Restaurant Name,Take Away Food
3,West Virginia,Logan,WV,37.86,-81.83,Subway,Subway
4,Kentucky,Crittenden,KY,37.27,-88.08,Subway,Subway
6,Kentucky,Martin,KY,37.83,-82.43,Subway,Subway
7,Kentucky,Harlan,KY,36.83,-83.25,Subway,Subway
9,Kentucky,Cumberland,KY,36.79,-85.36,Subway,Subway
12,Alabama,Conecuh,AL,31.43,-86.95,Subway,Subway
14,Kentucky,Clinton,KY,36.69,-85.13,Subway,Subway
16,Kentucky,Floyd,KY,37.74,-82.79,El Azul Grande,Subway
18,Arkansas,Yell,AR,35.09,-93.44,Subway,Subway
19,Tennessee,Perry,TN,35.61,-87.84,Subway,Subway
25,Oregon,Baker,OR,44.81,-117.74,Papa Murphy's | Take 'N' Bake Pizza,Papa Murphy's | Take 'N' Bake Pizza
26,Colorado,Clear Creek,CO,39.78,-105.60,Tommyknocker Brewery & Pub,Beau Jo's Idaho Springs
27,North Carolina,Transylvania,NC,35.22,-82.87,Country Skillet,Riverside Pizza
31,Ohio,Ross,OH,39.46,-82.74,Ridge Inn,BluTaco
35,Wyoming,Weston,WY,43.84,-104.21,Subway,Subway
36,Idaho,Payette,ID,43.96,-116.91,Subway,Subway
37,Michigan,Baraga,MI,46.53,-88.11,Moose Drop Inn,Moose Drop Inn
38,Ohio,Holmes,OH,40.44,-81.70,Walnut Creek Amish Flea Market,Subway

In [29]:
params = {
    "radius": 10000,
    "types": "restaurant",
    "key": gkey
}
# Use the lat/lng we recovered to identify hotels
for index, row in meal_takeaway_df.iterrows():
    
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lon"]
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and print url
    name_address = requests.get(base_url, params=params)
    # convert to json
    name_address = name_address.json()
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        meal_takeaway_df.loc[index, "Restaurant Name"] = name_address["results"][0]["name"]
        #county_df.loc[index, "Hotel Address"] = name_address["results"][0]["vicinity"]
        print(f"Closest Restaurant is {name_address['results'][0]['name']}.")
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
meal_takeaway_df.head()

/Users/brittanyouellette/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest Restaurant is Justonian Restaurant.
Closest Restaurant is Nannie Jo's Restaurant.
Missing field/result... skipping.
Closest Restaurant is Subway.
Closest Restaurant is Subway.
Closest Restaurant is The Food Shack.
Closest Restaurant is Subway.
Closest Restaurant is Subway.
Missing field/result... skipping.
Closest Restaurant is Subway.
Closest Restaurant is Cave-In-Rock State Park Restaurant.
Missing field/result... skipping.
Closest Restaurant is Subway.
Closest Restaurant is Bella's Cafe.
Closest Restaurant is Subway.
Missing field/result... skipping.
Closest Restaurant is El Azul Grande.
Closest Restaurant is Patton's Patio.
Closest Restaurant is Subway.
Closest Restaurant is Subway.
Closest Restaurant is El Vaquero Restaurant.
Closest Restaurant is The Galley & Pub.
Missing field/result... skipping.
Closest Restaurant is Taggart's Grill.
Closest Restaurant is Yesterdayâ€™s Cafe.
Closest Restaurant is Papa Murphy's | Take 'N' Bake Pizza.
Closest Restaurant is Tommyknocker Brewery & Pub.
Closest Restaurant is Country Skillet.
Closest Restaurant is Catkin Cafe.
Missing field/result... skipping.
Closest Restaurant is Adventures Resort- Bar, grill, and campground.
Closest Restaurant is Ridge Inn.
Closest Restaurant is Aladdin Cafe.
Missing field/result... skipping.
Closest Restaurant is The Glen Eden Restaurant.
Closest Restaurant is Subway.
Closest Restaurant is Subway.
Closest Restaurant is Moose Drop Inn.
Closest Restaurant is Walnut Creek Amish Flea Market.
Missing field/result... skipping.

,State,County,Code,Lat,Lon,Restaurant Name,Take Away Food
0,West Virginia,Mingo,WV,37.53,-81.85,Justonian Restaurant,NaN
1,Kentucky,Monroe,KY,36.72,-85.96,Nannie Jo's Restaurant,NaN
2,Oklahoma,Harmon,OK,34.66,-99.77,NaN,NaN
3,West Virginia,Logan,WV,37.86,-81.83,Subway,Subway
4,Kentucky,Crittenden,KY,37.27,-88.08,Subway,Subway

In [30]:
no_drop=meal_takeaway_df.dropna()
no_drop

,State,County,Code,Lat,Lon,Restaurant Name,Take Away Food
3,West Virginia,Logan,WV,37.86,-81.83,Subway,Subway
4,Kentucky,Crittenden,KY,37.27,-88.08,Subway,Subway
6,Kentucky,Martin,KY,37.83,-82.43,Subway,Subway
7,Kentucky,Harlan,KY,36.83,-83.25,Subway,Subway
9,Kentucky,Cumberland,KY,36.79,-85.36,Subway,Subway
12,Alabama,Conecuh,AL,31.43,-86.95,Subway,Subway
14,Kentucky,Clinton,KY,36.69,-85.13,Subway,Subway
16,Kentucky,Floyd,KY,37.74,-82.79,El Azul Grande,Subway
18,Arkansas,Yell,AR,35.09,-93.44,Subway,Subway
19,Tennessee,Perry,TN,35.61,-87.84,Subway,Subway
25,Oregon,Baker,OR,44.81,-117.74,Papa Murphy's | Take 'N' Bake Pizza,Papa Murphy's | Take 'N' Bake Pizza
26,Colorado,Clear Creek,CO,39.78,-105.60,Tommyknocker Brewery & Pub,Beau Jo's Idaho Springs
27,North Carolina,Transylvania,NC,35.22,-82.87,Country Skillet,Riverside Pizza
31,Ohio,Ross,OH,39.46,-82.74,Ridge Inn,BluTaco
35,Wyoming,Weston,WY,43.84,-104.21,Subway,Subway
36,Idaho,Payette,ID,43.96,-116.91,Subway,Subway
37,Michigan,Baraga,MI,46.53,-88.11,Moose Drop Inn,Moose Drop Inn
38,Ohio,Holmes,OH,40.44,-81.70,Walnut Creek Amish Flea Market,Subway

In [31]:
len(no_drop)

18

In [ ]:
#Nearby Hospitals
    hospital_locate = row[]
    params[]

In [ ]:
#Nearby Parks

In [ ]:
# Store 'Lat' and 'Lng' into  locations
#locations = census_data_complete[["Lat", "Lng"]].astype(float)
#locations = county_df[["Lat", "Lon"]].astype(float)